<header class="p-5 w-full  flex items-center justify-between {% if request.path == '/' %}bg-transparent absolute {% else %} bg-[#38065b] {% endif %}">
  <div>
    <img class="w-80" src="/static/img/logo.png" alt="logo" />
  </div>
  <nav>
    <ul
      class="flex items-center justify-center gap-5 w-full text-white font-bold text-lg uppercase"
    >
      <li>
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li>About</li>
      <li>Participant</li>
      <li>Dashboard</li>
      <li>
        <a href="{% url 'sign-in' %}">Sign-in</a>
      </li>
      <li>
        <a href="{% url 'sign-up' %}">Sign-up</a>
      </li>
    </ul>
  </nav>
  <div>
    <button class="uppercase border-4 rounded-md bg-transparent text-white font-bold px-6 py-3 text-lg">
      Buy tickets
    </button>
  </div>
</header>
