{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <section class="h-screen flex flex-col items-center justify-center">
      <div class="w-[350px] bg-white p-10 border rounded-lg">
        <form action="" method="post">
            {% csrf_token %}
            <div class="flex flex-col gap-5">
              <div class="flex flex-col items-center justify-center">
                <p class="w-12 h-12 border rounded-full flex flex-col items-center justify-center font-bold"><a href="{% url 'home' %}">
                  <i class="fa-solid fa-house"></i>
                </a></p>
              </div>
              <span class="font-bold text-2xl text-center">Create Account</span>
              {{form}}
              <span class="text-sm">Already have an account ? <a class="hover:underline text-blue-700" href="{% url "sign-in" %}">Sign-in</a></span>
              {% include "components/button.html" with text="Sign-up" %}
            </div>
        </form>
      </div>
    </section>
  </body>
</html>
